.cormorant-regular {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-style: normal;
}

.montecarlo-regular {
  font-family: "MonteCarlo", cursive;
  font-weight: 400;
  font-style: normal;
}

html{
    background-image: url(../images/background.png);
    background-repeat: repeat;
    font-size: 3vh;
}

h1{
    font-family: "MonteCarlo", cursive;
    font-size: 2em;
    background-color: #5f1329;
    text-align: center;
    color: white;
    padding: 0.2em;
    border-radius: 10px;
}

h2{
    font-family: "Cormorant Garamond", serif;
    text-shadow: 1px 1px 3px grey;
    text-align: center;
    font-size: 1.8em;
    margin: 0 auto;
}

h3{
    font-family: "Cormorant Garamond", serif;
    text-shadow: 1px 1px 3px grey;
    font-size: 1.5em;
}

p{
    font-family: "Cormorant Garamond", serif;
    font-size: 1em;
    line-height: 1.3em;
    text-align: justify;
    margin: 1em;
}

#wrapper{
    background-color: white;
    border-radius: 15px;
    margin: 3em;
    margin-bottom: -3em;
    padding: 1em;
    border: 3px solid #5f1329;
}

nav{
    width: 100%;
}

nav ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
}

nav li{
    padding: 0.5em;
    flex: 0 1 auto;
    min-width: fit-content;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    padding-left: 1em;
    font-size: 0.8em;
}

.dropdown:hover .dropdown-content{
    display: block;
    background-color: white;
    border: 1px solid #5f1329;
    border-radius: 5px;
    padding: 0.5em;
}

nav a, label{
    text-decoration: none;
    color: black;
    font-family: "Cormorant Garamond", serif;
    font-size: 1.2em;
    font-weight: bold;
}

nav a:hover, label:hover{
    color: #5f1329;
}

.logo{
    height: 3em;
}

.intro {
    display: flex;
    gap: 2em;
    align-items: center;
    margin: 2em 0;
}

.intro-reverse {
    display: flex;
    flex-direction: row-reverse;
    gap: 2em;
    align-items: center;
    margin: 2em 0;
    padding: 1em;
    border: 3px solid #5f1329;
    border-radius: 10px;
}

.intro-image {
    flex: 0 0 40%;
    max-width: 11em;
    height: auto;
    border-radius: 10px;
    margin-right: 1em;
    margin-left: 1em;
}

.intro-text {
    flex: 1;
}

.intro-text-reverse {
    flex: 1;
    text-align: right;
}

section.cta{
    background-color: #ffffff;
    border: 2px solid #5f1329;
    border-radius: 10px;
    padding: 1em;
    margin: 2em auto;
    text-align: center;
    max-width: 600px;
}

.cta-button{
    display: inline-block;
    background-color: #5f1329;
    color: white;
    font-family: "Cormorant Garamond", serif;
    font-size: 1em;
    padding: 0.5em 1em;
    border-radius: 5px;
    text-decoration: none;
    margin: 0 1em 1em 1em ;

}

footer{
    background-color: #5f1329;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    max-width: 10%;
}

.footer-logo{
    height: 4em;
    margin: 1em;
    margin-bottom: 0;
    filter: invert(100%);
}

.copyright{
    color: white;
    font-family: "Cormorant Garamond", serif;
    font-size: 0.8em;
    text-align: center;
}

.footer-column a{
    color: white;
    font-family: "Cormorant Garamond", serif;
    font-size: 0.8em;
    margin: 0.2em;
    text-decoration: none;
}



.footer-column a:hover{
    color: #d9b3c6;
}

.footer-column a h3{
    color: white;
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

.tabs-section {
    margin-top: 2em;
    display: flex;
    align-items: flex-start;
    width: 100%;
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);
    border: 2px solid #5f1329;
    border-radius: 10px;
}

/* content area */
.tabs-contents {
    flex: 1;
    padding: 1em;
    width: 70%;
    text-align: left;
    display: flex;
    align-items: center;
}

.tabs-content {
    width: 90%;
    background: #fff;
    border-radius: 10px;
    padding: 1em;
    text-align: left;
    float: left;
    align-items: center;
    justify-content: center;
}

.tabs-content h2, .tabs-content p {
    text-align: left;
}

.tab-list {
    display: flex;
    flex-direction: column;
    gap: 1em;
    float: right;
    margin: 1em;
    align-items: center;
    justify-content: center;
}

.tab-button {
    display: flex;
    align-items: center;
    gap: 0.75em;
    background: white;
    border: 1px solid #5f1329;
    cursor: pointer;
    height: 300%;
    padding: 0.25em;
    border-radius: 10px;
}

.tab-icon {
    width: 3rem;
    height: 3rem;
    object-fit: contain;
}

.tab-button[aria-selected="true"] {
    background: #5f1329;
    color: #fff;
    border-color: #5f1329;
}

.tab-button[aria-selected="true"] .tab-icon {
    filter: brightness(0) invert(1);
}

/* ...existing code... */

/* Cards container */
.cards-container {
    display: flex;
    gap: 2em;
    margin: 2em 0;
    justify-content: center;
    width: 80%;
    margin: 0 auto
}

.card {
    margin-top: 1em;
    flex: 1 1 45%;
    background: #fff;
    border-radius: 10px;
    padding: 1.5em;
    box-shadow: 0 4px 8px grey;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 1em;
}

.card h3 {
    margin-bottom: 0.5em;
}

.card p {
    flex: 1;
    margin-bottom: 1em;
    text-align: left;
}




@media (max-width: 768px) {
    .tabs-container {
        flex-direction: column-reverse; 
    }
    .tab-content{
        float: none;
        width: 100%;
    }
    .tab-list {
        width: 100%;
        flex-direction: row;
        justify-content: flex;
        flex-wrap: wrap;
        float: none;
    }
    .tab-button {
        flex: 1 1 45%;
    }

.cards-container {
        flex-direction: column;
    }
    .card {
        flex: 1 1 100%;
    }
}

