@charset "UTF-8";
/* CSS Document */

body{
    background-color: #f5f5f5;
    color: #40407A;
    font-family: Verdana, Geneva, sans-serif;
}

#wrapper{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

header{
    background-color: #80cbc4;
    text-align: center;;
}

h1{
    line-height: 200%;
}

nav{
    text-align: center;
    font-weight: bold;
}

nav a{
    text-decoration: none;
}

.studio{
    font-style: italic;
}

footer{
    background-color: #80cbc4;
    font-size: .60em;
    font-style: italic;
    text-align: center;
}