.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@400;700&display=swap');
body{
    background-color: #e6cae4;
}

body{
    background-image: url('../images/background.png');
}

#wrapper{
    width: 80%;
    margin: 0 auto;
    border:#8a377d 5px solid;
    border-radius: 10px;
    background-color: #ffffff;
    padding: 20px;
    margin-top: 20px;
}

h1, h2, h3{
    background-color: #d295ce;
    color: #8a377d;
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase;
}
h1{
    color: white;
    text-align: center;
    font-size: 60px;
    padding: 10px 0;
    margin-bottom: 20px;
    background-image: linear-gradient(90deg, #8a377d, #d295ce);
}

h2{
    font-size: 40px;
    padding: 10px;
    margin-bottom: 20px;
}

h3{
    background-color: #8a377d;
    color: #d295ce;
    font-size: 30px;
    margin-top: 20px;
    padding: 5px;
    margin-bottom: 10px;
    border-bottom: #d295ce 3px solid;
    
}

main p{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #4a4a4a;
    line-height: 1.6;
    margin-left: 20px;
    margin-bottom: 10px;
}

ul li{
    list-style: circle;
    position: inside;
    margin-left: 40px;
}

ol li{
    list-style: decimal;
    margin-left: 40px
}

li{
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #4a4a4a;
    line-height: 1.6;
    
}

footer{
    text-align: center;
}

.main-home{
    margin: 0 auto;
    padding: 20px;
    background-color: #f3e6f0;
    border-radius: 10px;
}

nav{
    text-align: center;
    margin-bottom: 20px;
    padding: 10px 0;
}

nav a{
    color: #4a4a4a;
    text-decoration: none;
    font-size: 20px;
    padding-right: 20px;
}

.name{
    font-weight: bold;
    color: #8a377d;
}

.feature-box{
    width: 70%;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border:#8a377d 5px solid;
    border-radius: 10px;
    box-shadow:#4a4a4a 5px 5px 10px; 
}

.split-rock{
    display: block;
    margin: 0 auto;
    width: 300px;
    border-radius: 10px;
    border:#8a377d 5px solid;
    box-shadow:#4a4a4a 5px 5px 10px; 
    margin-bottom: 20px;
}

.sewing{
    width: 80%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

.sewing-image{
    width: 300px;
    border-radius: 10px;
    border:#8a377d 5px solid;
    box-shadow:#4a4a4a 5px 5px 10px; 
    margin-bottom: 10px;
}

.sewing-text{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #4a4a4a;
    line-height: 1.6;
    width: 60%;
}

img{
    padding: 5px;
    width: 400px;
    border-radius: 10px;
    border:#8a377d 5px solid;
    box-shadow:#4a4a4a 5px 5px 10px; 
    background-color: white;
}

.gallery{
    margin: 10px;
}

.gallery-section{
    text-align: center;
}