@charset "UTF-8";
/* CSS Document */

*{
    box-sizing: border-box;
}

body{
    background-color: #352860;
    color: #40407A;
    font-family: Verdana, Geneva, sans-serif;
}

#wrapper{
    background-color: #f5f5f5;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    min-width: 1200px;
    max-width: 1480px;
}

header{
    background-color: #80cbc4;
    background-image: url("images/lilyheader.jpg") ;   
    height: 150px;
    background-repeat: no-repeat;
    background-position: right;
}

header a{
    text-decoration: none;
}

header a:link{
    color: #40407A;
}

header a:visited{
    color: #40407A;
}

header a:hover{
    color: white;
}
h1{
    padding-top: 50px;
    padding-left: 2em;

}

nav{
    width: 160px;
    float: left;
    font-weight: bold;
    padding: 1em;
}

nav a{
    text-decoration: none;
    display: block;
    text-align: center;
    border: 3px outset grey; padding: 1em;
    margin-bottom: 1em;
}

nav a:link{
    color: #3F2860;
}

nav a:visited{
    color: #497777;
}

nav a:hover{
    color: #a26100;
    border: 3px inset #333333;
}

nav ul{
    padding-left: 0;
    list-style-type: none;
}

.studio{
    font-style: italic;
}

footer{
    background-color: #80cbc4;
    font-size: .60em;
    font-style: italic;
    text-align: center;
    padding: 1em;
}

main{
    padding: 1em 2em 0em 2em;
    margin-left: 170px;

}

.floatleft{
    float: left;
    margin-right: 4em;
}

.clear{
    clear: both;
}

#hero{
    padding: 1em 0;
}

.onethird{
    float: left;
    width: 33%;
    padding: 0 2em;
}

.onehalf{
    float: left;
    width: 50%;
    padding: 0 2em;
}

