.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@400;700&display=swap');
body{
    background-color: #e6cae4;
}

h1, h2, h3{
    background-color: #d295ce;
    color: #8a377d;
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase;
}
h1{
    text-align: center;
    font-size: 60px;
}

h2{
    font-size: 40px;
}

h3{
    background-color: #8a377d;
    color: #d295ce;
    font-size: 30px;
}

main p{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #4a4a4a;
    line-height: 1.6;
    margin-left: 20px;
}

li{
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #4a4a4a;
    line-height: 1.6;
    margin-left: 20px;
}

footer{
    text-align: center;
}

.main-home{
    margin: 0 auto;
    padding: 20px;
    background-color: #f3e6f0;
    border-radius: 10px;
}

nav{
    text-align: center;
    margin-bottom: 20px;
}

nav a{
    color: #4a4a4a;
    text-decoration: none;
    font-size: 20px;
}

.name{
    font-weight: bold;
    color: #8a377d;
}