@charset "UTF-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Boogaloo|Nothing+You+Could+Do');


body {
	background-color:#F2E4C1;
	margin-bottom: 20px;
}

header {
	text-align: center;
	margin-bottom: 20px;
}

#wrapper {
	width: 960px;
	text-align: center;
	background-color: #fff;
	margin: 0 auto;
	position: relative;
}

nav {
	background-color:#68A28F;
	text-align: center;
	font-family: Arial Helvetica sans-serif;
	padding: 10px 0;
}

nav ul {
	display: block;
	margin-left: 0;
	font-size: 16px;
}

nav li {
	display: inline-block;
	padding: 0 20px;
	margin-bottom: 0;
}

nav a {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}

nav a:hover {
	color: #F2E4C1;
}

main {
	padding: 20px 30px;
	position: relative;
	text-align: left;
}

h1, h2, h3 {
	font-family: 'Boogaloo', cursive;
}
h1 {
	color: #604c39;
	font-size: 36px;
	margin-bottom: 20px;
	margin-top: 10px;
	text-transform: capitalize;
}

h2 {
	color: #e0412e;
	font-size: 30px;
	margin-bottom: 10px;
}

h3 {
	color: #68A28F;
	font-size: 24px;
	margin-bottom: 20px;
}

p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 150%;
	margin-bottom: 16px;
	margin-right: 20px;
}

button {
	/* position: absolute; is correct. 
    What else needs fixing to get the button in the correct location? */
    position: absolute;
	right:30px;
	top:30px;
	padding: 10px 20px;
	background-color: #e0412e;
	cursor: pointer;
	border: none;
	border-radius: 8px;
	box-shadow: 4px 4px 4px grey;
	z-index: 2;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	font-size: 16px;
}

footer {
	text-align:center;
	margin-top: 20px;
	font-size: 10px;
	padding: 20px;
}

table {
	border-collapse: collapse;
	border: 1px solid #68A28F;
	font-family: Arial, Helvetica, sans-serif;
}

th {
	background-color: #68A28F;
	color: #fff;
	font-weight: bold;
	text-transform: capitalize;
	text-align: center;
	font-size: 16px;
}
th, td {
	padding: 10px 20px;
	border: 1.5px solid #68A28F;
}

td {
	font-size: 14px;
}

ul {
	list-style-position: inside;
	margin-left: 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	list-style: disc;
}

li {
	margin-bottom: 12px;
}

.alignleft {
	float: left;
	margin-right: 20px;
}

.alignright {
	float: right;
	margin-left: 20px;
}

#clear {
	clear: both;
}

.column {
	margin-left: 20px;
}

.flex-container {
	display: flex;
	justify-content: space-between;
}

.signature {
	font-family: 'Nothing You Could Do', cursive;
	font-size: 32px;
	text-indent: 30px;
}
