@charset "UTF-8";
/* CSS Document */

body{
    background-color: #352860;
    color: #40407A;
    font-family: Verdana, Geneva, sans-serif;
}

#wrapper{
    background-color: #f5f5f5;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    min-width: 1000px;
    max-width: 1280px;
}

header{
    background-color: #80cbc4;
    background-image: url("images/lilyheader.jpg") ;   
    height: 150px;
    background-repeat: no-repeat;
    background-position: right;
}

h1{
    padding-top: 50px;
    padding-left: 2em;

}

nav{
    text-align: center;
    font-weight: bold;
    padding: 1em;
}

nav a{
    text-decoration: none;
}

.studio{
    font-style: italic;
}

footer{
    background-color: #80cbc4;
    font-size: .60em;
    font-style: italic;
    text-align: center;
    padding: 1em;
}

main{
    padding: 0 2em;
}

img{
    padding: 0 1em;
}
#hero{
    text-align: center;
}
